.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;

  .snowflake,
  .raindrop {
    position: absolute;
    top: -5%;
    color: #1976d2;
    opacity: 0.7;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @keyframes fall {
      0% {
        transform: translateY(-10vh);
        opacity: 0.9;
      }
      100% {
        transform: translateY(110vh);
        opacity: 0.2;
      }
    }
  }

  .clouds {
    position: absolute;
    opacity: 0.7;
    left: -150px;
    color: #8d8d8d;
    animation-name: moveClouds;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @keyframes moveClouds {
      0% {
        transform: translateX(0);
        opacity: 0.9;
      }
      100% {
        transform: translateX(140vw);
        opacity: 0.2;
      }
    }
  }
}

.sun {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 140px;
  height: 140px;
  background-color: #ffee00;
  border-radius: 50%;
  box-shadow: 0 0 100px 10px #ffee00;
  z-index: -1;
}
