.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;

  .snowflake,
  .raindrop,
  .bolt {
    position: absolute;
    top: -5%;
    color: #1976d2;
    opacity: 0.7;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @keyframes fall {
      0% {
        transform: translateY(-10vh);
        opacity: 0.9;
      }
      100% {
        transform: translateY(110vh);
        opacity: 0.2;
      }
    }
  }

  .bolt {
    color: #ffee00;
  }

  .clouds {
    position: absolute;
    opacity: 0.7;
    left: -150px;
    color: #8d8d8d;
    animation-name: moveClouds;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @keyframes moveClouds {
      0% {
        transform: translateX(0);
        opacity: 0.9;
      }
      100% {
        transform: translateX(140vw);
        opacity: 0.2;
      }
    }
  }
}

.sun {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: -1;

  svg {
    width: 160px;
    height: 160px;
    color: #ffee00;
    animation: spin 20s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
}
